<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-md-4">

    <div class="card shadow-sm">
      <div class="card-body p-4">

        <h4 class="text-center mb-4">🔐 Login</h4>

        <form [formGroup]="form" (ngSubmit)="$Submit_onClick()">

          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" formControlName="username" class="form-control"
                   [class.is-invalid]="form.get('username')?.touched && form.get('username')?.invalid">
            <div class="invalid-feedback">
              Username is required.
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control"
                   [class.is-invalid]="form.get('password')?.touched && form.get('password')?.invalid">
            <div class="invalid-feedback">
              Password is required.
            </div>
          </div>

          <button class="btn btn-primary w-100" type="submit" [disabled]="form.invalid">
            Login
          </button>

          <div class="mt-2 text-center">
            <span class="text-muted me-1">Don't have an account?</span>
            <span class="text-primary fw-bold"><a style="cursor: pointer" (click)="$Register_onClick()">Create One</a></span>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>

