<div class="d-flex justify-content-between align-items-center mb-3">
  <h3 class="m-0">Products</h3>

  <button class="btn btn-primary" (click)="onAddProduct()">
    + Add Product
  </button>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover align-middle">
    <thead class="bg-primary text-white">
    <tr>
      <th style="width: 60px;">ID</th>
      <th>Name</th>
      <th style="width: 120px;">Price</th>
      <th style="width: 120px;">Stock</th>
      <th style="width: 180px;" class="text-center">Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.id }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.price | currency: ' ' }}</td>
      <td>{{ p.stockQuantity }}</td>
      <td class="text-center">

        <button class="btn btn-sm btn-info me-1" (click)="onView(p)">
          View
        </button>

        <button class="btn btn-sm btn-warning me-1" (click)="onEdit(p)">
          Edit
        </button>

        <button class="btn btn-sm btn-danger">
          Delete
        </button>

      </td>
    </tr>
    </tbody>
  </table>
</div>


