<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-11 col-sm-8 col-md-4 col-lg-3">
    <div class="card shadow-sm">
      <div class="card-body">

        <h3 class="text-center mb-4 fw-semibold">Create User</h3>

        <form [formGroup]="registerForm" (ngSubmit)="$Submit_onClick()">

          <!-- Username -->
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" formControlName="username" class="form-control"
                   [class.is-invalid]="registerForm.get('username')?.touched && registerForm.get('username')?.invalid" />

            <div class="invalid-feedback" *ngIf="registerForm.get('username')?.errors?.['required']">Username is required</div>
            <div class="invalid-feedback" *ngIf="registerForm.get('username')?.errors?.['minlength']">
              Username must be at least 3 characters
            </div>
          </div>

          <!-- Password -->
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control"
                   [class.is-invalid]="registerForm.get('password')?.touched && registerForm.get('password')?.invalid" />

            <div class="invalid-feedback" *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</div>
            <div class="invalid-feedback" *ngIf="registerForm.get('password')?.errors?.['minlength']">
              Password must be at least 5 characters
            </div>
          </div>

          <!-- Role -->
          <div class="mb-4">
            <label class="form-label">Role</label>
            <input type="password" formControlName="role" class="form-control"
                   [class.is-invalid]="registerForm.get('role')?.touched && registerForm.get('role')?.invalid" />
            <div class="invalid-feedback" *ngIf="registerForm.get('role')?.errors?.['required']">Role is required</div>
          </div>

          <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">
            Register
          </button>

          <div class="mt-2 text-center">
            <span class="text-muted me-1">Have already an account?</span>
            <span class="text-primary fw-bold"><a style="cursor: pointer" (click)="$Login_onClick()">Login here</a></span>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
